nav {
  border-bottom: 1px solid var(--border-color-header);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.linkContainer {
  display: flex;
  align-items: center;
  gap: 32px;
  margin: 0 auto;
}

.logo {
  padding: 28px 0;
}

.navLink {
  font-weight: 500;
  padding: 24px 0;
  transition: color var(--transition);
}

.navLink:hover,
.navLink:hover,
.navLink.active {
  color: var(--color-hover);
}
